@model Entidades.App.ObjectMessage

<div class="row mb-4 ml-0 mr-0">
    <div class="col-md-12">
        <div class="alert alert-warning mg-b-0" role="alert">
            <h6 class="alert-heading">Ocurrió un inconveniente</h6>
            <p> @Model.Message</p>
        </div>
    </div>
</div>

