@{

}

<div id="modalFormTerminosYCondiciones" class="modal fade modalFormABM" tabindex="-1" role="dialog" aria-labelledby="formModalABM" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel3">
                    Terminos y Condiciones
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            @using (Html.BeginForm("SaveModalTerminosYCondiciones", "Account", FormMethod.Post, new { id = "formABMDefault", name = "formABMDefault", @class = "formularioABMModal", refreshDatatable = "false", resetForm = "false", closeForm = "true", funcionExtra = "true" }))
            {
                <div class="modal-body">
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <div id="detalleTerminos" style="height:600px;">
                                <p>Bienvenido al portal !</p>
                                <p> [Texto terminos y condiciones ]</p>
                                @*<iframe id="iframepdf" src="@Url.Content("~/documents/terminos_y_condiciones.pdf")" width="100%" height="100%"></iframe>*@
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success pull-left btn-app"> <i class="fa fa-save"></i> Acepto los términos</button>
                </div>
            }
        </div>
    </div>
</div>

<script>

    function functionExtra() {
        
    }

</script>
