<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportesLocales.Properties.Settings.QFS_COMANDO_DB"
            connectionString="Data Source=168.181.187.34;Initial Catalog=QFS_COMANDO;User ID=appweb;Password=QFS$0b1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>