@{
    ViewBag.Title = "Tutoriales";
    ViewBag.Subtitle = "Listado de Tutoriales del sistema";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string _ControllerName = "Tutoriales";
}

<div class="content-header header-title-page ml-0 mr-0">
    <div class="col-md-8">
        <h4 class="content-title content-title-xs">Tutoriales</h4>
        <p>Listado de Tutoriales del sistema</p>
    </div>
    <div class="col-md-4 pr-0">
        <div class="d-flex flex-row-reverse">

        </div>
    </div>
</div>

<div id="viewGridData" style="zoom: 90%"></div>

@section scripts{

    <script>
        $(document).ready(function () {
            refreshData();
        });
         function refreshData()
        {
            dataObject = {};
            _urlPartial = "@Url.RouteUrl("Default", new { action = "PartialItemsTutoriales", controller = _ControllerName })";
            APP_LoadPartialView('#viewGridData', dataObject, _urlPartial);
        }
    </script>

}

