@model IEnumerable<Entidades.Encuesta_Respuesta>

<div id="modalFormDefault" class="modal fade modalFormABM" tabindex="-1" role="dialog" aria-labelledby="formModalABM" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel3">
                    Listado de Respuestas
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i data-feather="x"></i></span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row mt-2">
                    <div class="col-md-12">
                        <table class="table table-header-app datatablePartial-scrollbar-modal-nosearch">
                            <thead>
                                <tr>
                                    <th>Contenido</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Entidades.Encuesta_Respuesta renglon in Model)
                                {
                                <tr>
                                    <td>@renglon.encres_contenido </td>
                                    <td>@renglon.encres_valor</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-cerrar btn-app" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>


@section scripts{
    <script>

    </script>
}