@{
    ViewBag.Title = "Notificaciones";
    ViewBag.Subtitle = "Listado de Notificaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string _ControllerName = "Notificaciones";
}

<div class="content-header header-title-page ml-0 mr-0">
    <div class="col-md-9">
        <h4 class="content-title content-title-xs">Notificaciones</h4>
        <p>Listado de Notificaciones</p>
    </div>

    <div class="col-md-3 pr-0">
        <div class="d-flex flex-row-reverse">
            <button type="button" modal-value-primary="0" modal-value-secondary="0" modal-value-extra="0" modal-url="@Url.Action("PartialModalABM",_ControllerName)" class="btnOpenModal btn btn-xs btn-success m-1"><i class="fa fa-plus"></i> Alta de Notificación</button>
        </div>
    </div>
</div>

<div class="card card-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">

                @*<div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label" for="ddlDistrito">Distritos</label>
                            @Html.DropDownList("ddlDistrito", new SelectList(Negocio.DDL.ListarDistritos(Filters.VerificarToken.ConsultarToken(), true), "Value", "Text", 0), new { @class = "form-control camporequerido input-sm select2 changeGrilla", style = "top:0px;height:30px", required = "required" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <div id="viewGridData" style="zoom:90%"></div>
                        </div>
                    </div>
                </div>*@

            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>

        $(document).ready(function () {
            refreshData();
        });

        function refreshData()
        {
            dataObject = {
                distritoID: $('#ddlDistrito').val()
            };
            _urlPartial = "@Url.RouteUrl("Default", new { action = "PartialGridData", controller = _ControllerName })";
            APP_LoadPartialView('#viewGridData', dataObject, _urlPartial);
        }

        $('#ddlDistrito').change(function (e) {
            e.preventDefault();
            refreshData();
        });


    </script>
}


