@model Entidades.Inventario.MovimientoInventario
<div>
    <h4>Registrar movimiento</h4>
    <p>Fecha: @Model.movinv_fecha.ToString("dd/MM/yyyy HH:mm")</p>
    <p>Cantidad: @Model.movinv_cantidad</p>
</div>
