@model Entidades.App.SIS_Usuario 

@{ 
    string _nombre = "Cambio de contraseña";
    string _controllerName = "Usuario";

}

<div id="modalFormDefault" class="modal fade modalFormABM" tabindex="-1" role="dialog" aria-labelledby="formModalABM" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel3">
                    Cambiar contraseña
                </h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i data-feather="x"></i></span>
                </button>
            </div>
            @using (Html.BeginForm("SaveModalChangePassword", _controllerName, FormMethod.Post, new { id = "formABMDefault", name = "formABMDefault", @class = "formularioABMModal", refreshDatatable = "false", resetForm = "false", closeForm = "true" }))
            {
                <div class="modal-body">
                    @Html.HiddenFor(x => x.usu_id)

                    <div class="row">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.usu_password, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.usu_password, new { htmlAttributes = new { @class = "form-control form-control-sm", required = "required", autocomplete = "off", @type="password" } })
                            @Html.ValidationMessageFor(model => model.usu_password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-cerrar btn-app" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success pull-left btn-app"> <i class="fa fa-save"></i> Guardar</button>
                </div>
            }
        </div>
    </div>
</div>