@{
    ViewBag.Title = "Maquetado";
    ViewBag.Subtitle = "Maquetado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header header-title-page ml-0 mr-0">
    <div class="col-md-9">
        <h4 class="content-title content-title-xs">Creación de producto (Seguimiento)</h4>
        <p>Código de proyecto #00001-21</p>
    </div>

    <div class="col-md-3 pr-0">
        <div class="d-flex flex-row-reverse">

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 mg-sm-t-20">
        <div class="card card-hover card-active-projects">
            <div class="card-header bg-transparent pd-15">
                <h6 class="card-title mg-b-0">Objetivos del proyecto</h6>
                <nav class="nav align-items-center">
                  
                </nav>
            </div><!-- card-header -->
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="media">
                        <div class="media-body mg-t-10 mg-md-t-0 mg-md-l-10">
                            <h6 class="project-title"><a href="">1. Creación del equipo de proyecto</a></h6>
                        </div>
                    </div><!-- media -->
                    <div class="progress-wrapper">
                        <div class="progress-label"><span>Progress</span><span>100%</span></div>
                        <div class="progress">
                            <div class="progress-bar wd-100p bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div><!-- progress-wrapper -->
                    <div class="avatar-group">
                        <div class="avatar avatar-xxs"><img src="https://via.placeholder.com/500/637382/fff" class="rounded-circle" alt=""></div>
                        <div class="avatar avatar-xxs"><img src="https://via.placeholder.com/500/637382/fff" class="rounded-circle" alt=""></div>
                        <div class="avatar avatar-xxs"><img src="https://via.placeholder.com/500/637382/fff" class="rounded-circle" alt=""></div>
                        <a href="" class="avatar-add"><i data-feather="plus" class="svg-12"></i></a>
                    </div>
                    <div class="project-date-end bg-success-light">Finalizó: Sep 20, 2021</div>
                    <div><a href="" class="link-04"><i data-feather="more-horizontal" class="svg-16"></i></a></div>
                </li>
                <li class="list-group-item">
                    <div class="media">
                        <div class="media-body mg-t-10 mg-md-t-0 mg-md-l-10">
                            <h6 class="project-title"><a href="">2. Recursos del proyecto </a></h6>
                        </div>
                    </div><!-- media -->
                    <div class="progress-wrapper">
                        <div class="progress-label"><span>Progress</span><span>100%</span></div>
                        <div class="progress">
                            <div class="progress-bar wd-100p bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div><!-- progress-wrapper -->
                    <div class="avatar-group">
                        <div class="avatar avatar-xxs"><img src="https://via.placeholder.com/500/637382/fff" class="rounded-circle" alt=""></div>
                        <div class="avatar avatar-xxs"><img src="https://via.placeholder.com/500/637382/fff" class="rounded-circle" alt=""></div>
                        <div class="avatar avatar-xxs"><img src="https://via.placeholder.com/500/637382/fff" class="rounded-circle" alt=""></div>
                        <a href="" class="avatar-add"><i data-feather="plus" class="svg-12"></i></a>
                    </div>
                    <div class="project-date-end bg-success-light">Finalizó: Sep 30, 2021</div>
                    <div><a href="" class="link-04"><i data-feather="more-horizontal" class="svg-16"></i></a></div>
                </li>
                <li class="list-group-item">
                    <div class="media">
                        <div class="media-body mg-t-10 mg-md-t-0 mg-md-l-10">
                            <h6 class="project-title"><a href="">3. Backlog de tareas</a></h6>
                        </div>
                    </div><!-- media -->
                    <div class="progress-wrapper">
                        <div class="progress-label"><span>Progress</span><span>100%</span></div>
                        <div class="progress">
                            <div class="progress-bar wd-100p bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div><!-- progress-wrapper -->
                    <div class="avatar-group">
                        <div class="avatar avatar-xxs"><img src="https://via.placeholder.com/500/637382/fff" class="rounded-circle" alt=""></div>
                        <div class="avatar avatar-xxs"><img src="https://via.placeholder.com/500/637382/fff" class="rounded-circle" alt=""></div>
                        <div class="avatar avatar-xxs"><img src="https://via.placeholder.com/500/637382/fff" class="rounded-circle" alt=""></div>
                        <a href="" class="avatar-add"><i data-feather="plus" class="svg-12"></i></a>
                    </div>
                    <div class="project-date-end bg-warning-light">Finaliza: Nov 15, 2021</div>
                    <div><a href="" class="link-04"><i data-feather="more-horizontal" class="svg-16"></i></a></div>
                </li>
                <li class="list-group-item">
                    <div class="media">
                        <div class="media-body mg-t-10 mg-md-t-0 mg-md-l-10">
                            <h6 class="project-title"><a href="">4. Programación - Creación de maquetación</a></h6>
                        </div>
                    </div><!-- media -->
                    <div class="progress-wrapper">
                        <div class="progress-label"><span>Progress</span><span>50%</span></div>
                        <div class="progress">
                            <div class="progress-bar wd-50p bg-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div><!-- progress-wrapper -->
                    <div class="avatar-group">
                        <div class="avatar avatar-xxs"><img src="~/assets/img/avatar_default.png" class="rounded-circle" alt=""></div>
                        <div class="avatar avatar-xxs"><img src="~/assets/img/avatar_example.png" class="rounded-circle" alt=""></div>
                        <div class="avatar avatar-xxs"><img src="~/assets/img/avatar_default.png" class="rounded-circle" alt=""></div>
                        <div class="avatar avatar-xxs"><img src="~/assets/img/avatar_default.png" class="rounded-circle" alt=""></div>
                        <a href="" class="avatar-add"><i data-feather="plus" class="svg-12"></i></a>
                    </div>
                    <div class="project-date-end bg-primary-light">Finaliza: Mar 01, 2022</div>
                    <div><a href="" class="link-04"><i data-feather="more-horizontal" class="svg-16"></i></a></div>
                </li>

            </ul>
        </div><!-- card -->
    </div>
</div>


@section scripts{

    <script>

    </script>
}


