@{
    ViewBag.Title = "Eventos";
    ViewBag.Subtitle = "Mis Eventos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header header-title-page ml-0 mr-0">
    <div class="col-md-9">
        <h4 class="content-title content-title-xs">Mis Eventos</h4>
        <p>Aquí podras consultar todos los asignados a participar</p>
    </div>

    <div class="col-md-3 pr-0">
        <div class="d-flex flex-row-reverse">

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="card card-hover card-project-green">
            <div class="card-body">
                <label class="content-label tx-9 mg-b-5">[Tipo Evento] - dd/MM/yyyy HH:mm</label>
                <h5 class="card-title"><a href="">[Titulo]</a></h5>
                <p class="tx-12 tx-color-03">[Objetivo]</p>
                <button href="" class="btn btn-sm btn-block btn-success">Ver más información <i class="fa fa-plus-circle mg-l-5"></i></button>
            </div><!-- card-body -->
        </div>
    </div>

    <div class="col-md-3">
        <div class="card card-hover card-project-green">
            <div class="card-body">
                <label class="content-label tx-9 mg-b-5">[Tipo Evento] - dd/MM/yyyy HH:mm</label>
                <h5 class="card-title"><a href="">[Titulo]</a></h5>
                <p class="tx-12 tx-color-03">[Objetivo]</p>
                <button href="" class="btn btn-sm btn-block btn-success">Ver más información <i class="fa fa-plus-circle mg-l-5"></i></button>
            </div><!-- card-body -->
        </div>
    </div>

    <div class="col-md-3">
        <div class="card card-hover card-project-green">
            <div class="card-body">
                <label class="content-label tx-9 mg-b-5">[Tipo Evento] - dd/MM/yyyy HH:mm</label>
                <h5 class="card-title"><a href="">[Titulo]</a></h5>
                <p class="tx-12 tx-color-03">[Objetivo]</p>
                <button href="" class="btn btn-sm btn-block btn-success">Ver más información <i class="fa fa-plus-circle mg-l-5"></i></button>
            </div><!-- card-body -->
        </div>
    </div>
</div>
