@{

}


<div class="row mt-4">
    <div class="col-md-12">
        <div class="alert alert-primary" role="alert">
            <b>Bienvenido al Módulo de Gestión !</b> <br />
             <span class="tx-sm"> 
                <i class="fa fa-list pr-1"></i> En el <b>Menú</b> encontraras todos los accesos habilitados para operar en este módulo. <br /> 
                <i class="fa fa-question-circle pr-1"></i> En caso de tener dudas sobre como operar en el sistema podrás consultar en las secciones habilitadas de <b>Preguntas Frecuentes</b> y <b>Tutoriales</b>. <br /> 
                <i class="fa fa-hand-paper pr-1"></i>Si tenes algún inconveniente en la operatoria podrás hacer una consulta en la sección de <b>Mesa de Ayuda</b>.</span>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-md-8">
        <div class="card card-hover">
            <div class="card-header alert-success bd-b-0 pb-3 pt-3">
                <h6 class="card-title mg-b-0 tx-gray-700"><i class="fa fa-calendar pr-1 "></i> Eventos / Capacitaciones / Reuniones</h6>
                <nav class="nav nav-card-icon">

                </nav>
            </div>
            <div class="card-body">
                <div id="viewGridDataProcesosProvisorios" style="zoom:90%; height:300px">
                    <div style="width:100%;">
                        <p style="text-align:center;padding-top:60px;" class="tx-gray-500">
                            <i class="fa fa-info-circle pr-1 tx-md-26 mb-1"></i> <br />Por el momento no hay Eventos agendados
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-hover">
            <div class="card-header alert-success bd-b-0 pb-3 pt-3">
                <h6 class="card-title mg-b-0 tx-gray-700"><i class="fa fa-exclamation-triangle pr-1 "></i> Notificaciones</h6>
                <nav class="nav nav-card-icon">

                </nav>
            </div>
            <div class="card-body">
                <div id="viewGridDataProcesosProvisorios" style="zoom:90%; height:300px">
                    <div style="width:100%;">
                        <p style="text-align:center; padding-top:60px;" class="tx-gray-500">
                            <i class="fa fa-info-circle pr-1 tx-md-26 mb-1"></i> <br />Por el momento no hay notificaciones </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    function LoadDashboard()
    {
        
    }

</script>