@{

}

<div class="row mt-4">
    <div class="col-md-12">
        <div class="card card-hover card-event-one">
            <div class="card-body">
                <div class="event-logo bg-teal tx-white mg-b-15"><i class="fa fa-file-archive"></i></div>
                <h6 class="event-title"><a href="">Ingresa un Telegrama!</a></h6>
                <p class="event-desc">Haz click en ingresar para registrar un telegrama nuevo.</p>
                <a href="@Url.Action("Upload","Telegrama")" class="btn btn-block btn-sm btn-primary">Ingresar</a>
            </div><!-- card-body -->
        </div>
    </div>
</div>

<script>

    function LoadDashboard()
    {

    }

</script>