@{

}

<div id="viewIndicadoresPrincipales"></div>

<div class="row mt-3">
    <div class="col-sm-12">
        <div class="card card-body">
            <h5 id="section3" class="tx-semibold">Usuarios Activos</h5>
            <p class="mg-b-25">Usuarios activos en el sistema</p>

            <div id="viewGridUsuariosLogueados"></div>
        </div>
    </div>
</div>

<script>

    function LoadDashboard()
    {
        _urlPartial = "@Url.RouteUrl("Default", new { action = "PartialGridUsuariosLogueados", controller = "Home" })";
        APP_LoadPartialView('#viewGridUsuariosLogueados', {}, _urlPartial);
    }

</script>