@model Entidades.Vistas.DashboardSistemas

<div class="row mt-3 mb-3">
    <div class="col-md-3">
        <div class="card card-hover card-social-one">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between mg-b-10">
                    <h1 class="card-value">@Model.CantidadUsuarios</h1>
                </div>
                <h5 class="card-title tx-primary">Usuarios</h5>
                <p class="card-desc">Cantidad de usuarios del sistema.</p>
            </div><!-- card-body -->
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-hover card-social-one">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between mg-b-10">
                    <h1 class="card-value">@Model.CantidadDistritos</h1>
                </div>
                <h5 class="card-title tx-primary">Distritos</h5>
                <p class="card-desc">Cantidad de Distritos electorales</p>
            </div><!-- card-body -->
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-hover card-social-one">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between mg-b-10">
                    <h1 class="card-value">@Model.CantidadUsuariosAdministradores</h1>
                </div>
                <h5 class="card-title tx-primary">Usuarios Administradores</h5>
                <p class="card-desc">Cantidad de usuarios administradores</p>
            </div><!-- card-body -->
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-hover card-social-one">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between mg-b-10">
                    <h1 class="card-value">@Model.CantidadUsuariosBloqueados</h1>
                </div>
                <h5 class="card-title tx-primary">Usuarios Bloqueados</h5>
                <p class="card-desc">Cantidad de usuarios bloqueados </p>
            </div><!-- card-body -->
        </div>
    </div>
</div>
